@model LabVet.Models.Veterinario

@{
    ViewBag.Title = "Cadastro de Veterinário";
}

<h2>Cadastro de Veterinário</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Veterinário</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Crmv)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Crmv)
            @Html.ValidationMessageFor(model => model.Crmv)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para a tela anterior", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
