@model LabVet.Models.Proprietario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Proprietario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Logradouro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Logradouro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bairro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bairro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PessoaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
